<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>좋아요한 상품</title>
	<link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/product.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:include="/fragments/header :: headerFragment"></header>
<div class="trending">
	<h1>❤️ 상품</h1>
	<div class="posts">
		<div class="post-card" th:each="product : ${likedProducts}">
			<a th:href="@{/products/{id}(id=${product.id})}"
			   style="text-decoration: none;">
				<div class="post-content">
					<h3 th:text="${product.name}"></h3>
					<p th:text="${product.description}"></p>
					<p th:text="${product.price}"></p>
				</div>
			</a>
		</div>
	</div>
</div>
</body>
</html>