<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>상품 보기</title>
</head>
<body>
	<h1 th:text="${product.name}"></h1>
	<p>
		상품 이름: <span th:text="${product.name}"></span>
	</p>
	<p>
		상품 설명: <span th:text="${product.description}"></span>
	</p>
	<p>
		가격: <span th:text="${product.price}"></span>
	</p>
	<p>
		재고: <span th:text="${product.quantity}"></span>
	</p>
	<p>
		조회수: <span th:text="${product.viewCount}"></span>
	</p>

	<h2>좋아요</h2>
	<div>
		<p>
			전체 좋아요 갯수: <span th:text="${totalLikes == null ? '0' : totalLikes}"></span>
		</p>
	</div>
	<div th:if="${isLiked}">
		<form th:action="@{/products/{id}/unlike(id=${product.id})}"
			method="post">
			<button type="submit">좋아요 취소</button>
		</form>
	</div>

	<div th:unless="${isLiked}">
		<form th:action="@{/products/{id}/like(id=${product.id})}"
			method="post">
			<button type="submit">좋아요</button>
		</form>
	</div>

	<h2>댓글</h2>
	<ul>
		<li th:each="comment : ${product.comments}">
			<p>
				<span th:text="${comment.content}"></span> <small
					th:text="${comment.member.username}"></small>
			</p>
		</li>
	</ul>

	<h3>댓글 달기</h3>
	<form th:action="@{/products/{id}/comment(id=${product.id})}"
		method="post">
		<textarea name="content" required></textarea>
		<button type="submit">작성</button>
	</form>

	<a th:href="@{/products}">상품 목록으로</a>
</body>
</html>