/* header.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 80px;
}

nav {
    display: flex;
    margin-top: 3px;
    justify-content: space-between; /* 가로로 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
}

nav div {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px; /* 링크 사이에 간격 추가 */
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

a:hover{
    color: #555;
    text-decoration: none;
}

nav form {
    display: inline-block;
    margin-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    padding: 10px 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}