<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goorm Mall</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/product.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link th:href="@{/css/view.css}" rel="stylesheet">  -->
</head>
<body>
<header th:include="/fragments/header :: headerFragment"></header>
<div class="container">
	<div class="trending">
		<h1>Goorm Mall</h1>
		<div th:if="${username != null}">
		    <p>반가워요, <span th:text="${username}"></span>님!</p>
		</div>
	</div>
	<div th:include="product/list :: productFragment"></div>
</div>
</body>
</html>