<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>가입</title>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("rePassword").value;
        var message = document.getElementById("passwordMessage");

        if (password !== confirmPassword) {
            message.style.color = 'red';
            message.innerHTML = '입력한 값이 일치하지 않습니다.';
        } else {
            message.style.color = 'green';
            message.innerHTML = '입력한 값이 일치합니다.';
        }

        if (password == "" || confirmPassword == "") {
            message.style.color = '';
            message.innerHTML = '';
        }
    }
</script>
<body>
<header th:include="/fragments/header :: headerFragment"></header>
<div class="container">
	<form th:action="@{/join}" method="post">
	    <h1>가입</h1>
	    <div>
	        <label for="username">아이디</label>
	        <input type="text" placeholder="Enter userid" id="username" name="username" required>
	    </div>
	    <div>
	        <label for="name">이름</label>
	        <input type="text" placeholder="Enter name" id="name" name="name" required>
	    </div>
	    <div>
	        <label for="email">이메일</label> <input type="email" id="email" placeholder="Enter email"
	                                                 name="email" required>
	    </div>
	    <div>
	        <label for="password">비밀번호</label> <input type="password" placeholder="Enter password"
	                                                 id="password" name="password" required onkeyup="validatePassword();">
	    </div>
	    <div>
	        <label for="rePassword">비밀번호 재입력</label> <input type="password"
	                                                     placeholder="Re-enter password" id="rePassword" name="rePassword"
	                                                     required onkeyup="validatePassword();">
	    </div>
	    <div id="passwordMessage" style="font-size: 14px; margin: 10px 0; "></div>
	    <div>
	        <input type="submit" value="Join">
	    </div>
	    <div>
	        <a th:href="@{/login}">이미 가입하셨나요? 로그인하러 가기</a>
	    </div>
	</form>
</div>
</body>
</html>